[[extend 'layout.html']]

<div id="vue-target" v-cloak>
    <div class="tile is-ancestor">
        <div class="tile is-vertical panel mx-2 mb-0">
            <div class="panel-heading">
                <strong>Genres</strong>
            </div>
            <div class="columns is-one-quarter">
                <div class="column">
                    <b-checkbox class="panel-block" v-for="valid_genre in valid_genres" v-on:input="filters_changed" v-model="genres" :native-value="valid_genre">{{ valid_genre }}</b-checkbox>
                </div>
            </div>
        </div>
        <section class="tile is-5 is-vertical panel mx-2">
            <div class="panel-heading">
                <strong>Filters</strong>
            </div>
	    	<b-field class="mx-6" label="Tempo" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="Song tempo in beats per minute">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="tempo">Tempo</b-checkbox>
                    </b-tooltip>
                </template>
	    		<b-slider v-on:change="filters_changed" v-model="filters.tempo" :min="20" :max="300" :step="5" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('tempo')"></b-slider>
	    	</b-field>

            <b-field class="mx-6" label="Key" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="Key of the recommendations">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="key">Key</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.key" :min="1" :max="12" :step="1" :custom-formatter="int_to_music_key" :tooltip="0" indicator size="is-large" ticks :disabled="!enabled_filters.includes('key')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Popularity" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How popular the song is">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="popularity">Popularity</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.popularity" :min="0" :max="100" :step="1" :custom-formatter="(val) => val + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('popularity')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Acousticness" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How acoustic the song sounds">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="acousticness">Acousticness</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.acousticness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('acousticness')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Danceability" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How danceable the song is">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="danceability">Danceability</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.danceability" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('danceability')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Energy" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How energetic the song is">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="energy">Energy</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.energy" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('energy')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Instrumentalness" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How instrumental heavy the song is">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="instrumentalness">Instrumentalness</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.instrumentalness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('instrumentalness')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Liveness" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How live the song sounds">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="liveness">Liveness</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.liveness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('liveness')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Speechiness" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How vocal heavy the song is">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="speechiness">Speechiness</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.speechiness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('speechiness')"></b-slider>
            </b-field>
        
            <b-field class="mx-6" label="Valence" horizontal>
                <template #label>
                    <b-tooltip type="is-dark" label="How positive and upbeat the song sounds">
	    				<b-checkbox v-on:input="filters_changed" v-model="enabled_filters" native-value="valence">Valence</b-checkbox>
                    </b-tooltip>
                </template>
                <b-slider v-on:change="filters_changed" v-model="filters.valence" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('valence')"></b-slider>
            </b-field>

            <b-field class="mx-6" label="Max Song Count" horizontal>
                <b-slider v-model="limit" :min="5" :max="50" :step="5" :tooltip="0" indicator size="is-large" ticks></b-slider>
            </b-field>
        </section>
    </div>
    <div class="tile is-vertical">
        <b-message v-if="genres.length == 0" type="is-danger">
            Please select at least one genre.
        </b-message>
    
        <b-message v-if="not_found" type="is-danger">
            No recommendations found, please try again with different filters.
        </b-message>
    
        <b-button :disabled="not_found || genres.length == 0" v-on:click="generate" type="is-primary" position="is-centered" label="Generate Playlist" expanded/>
    </div>
    <div>
    <b-modal v-model="show_recommendation_modal" :width="800" scroll="keep">
        <div class="card">
            <header class="modal-card-head">
                <p class="modal-card-title">Recommendations</p>
            </header>
            <div class="card-content mx-1">
                <div class="panel-block" v-if="recommendations.length != 0" v-for="rec in recommendations">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img :src="rec.album.images[0].url" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">{{rec.name}}</p>
                        <p class="subtitle is-6">{{rec.artists[0].name}}</p>
                    </div>
                    <div class="media-right">
                        <b-field>
                            <b-switch v-model="rec.include_in_playlist" type="is-success"></b-switch>
                        </b-field>
                    </div>
                    
                    <div class="media-right">
                        <b-tooltip type="is-dark" label="Open in Spotify">
                            <b-button type="is-success" v-on:click="open_in_spotify(rec.id)">
                                <b-image src="icons/spotify.png"></b-image>
                            </b-button>
                        </b-tooltip>
                    </div>
                </div>
                <article class="media" v-for="i in recommendations.length == 0 ? limit : 0">
                    <figure class="media-left">
                        <p class="image">
                            <b-skeleton circle width="50px" height="50px"></b-skeleton>
                        </p>
                    </figure>
                    <div class="media-content">
                        <span class="content">
                            <p>
                                <b-skeleton active></b-skeleton>
                                <b-skeleton active></b-skeleton>
                            </p>
                            
                        </div>
                    </div>
                </article>
                <b-field class="mx-4 pb-4" label="Playlist Name" label-position="on-border">
                    <b-input placeholder="My New Recommendations!" type="search" v-model="playlist_name" expanded></b-input>
                    <p class="control">
                        <b-button v-on:click="make_playlist" class="button is-primary">Generate Playlist</b-button>
                    </p>
                </b-field>
            </div>
        </div>
    </b-modal>
    </div>
</div>

[[block page_scripts]]
<script src="js/recommendations.js"></script>
<script src="buefy/components/field/index.js"></script>
<script src="buefy/components/slider/index.js"></script>
[[end]]