[[extend 'layout.html']]

<div class="section" id="vue-target" v-cloak>
    <section>
        <b-collapse
            class="panel"
            animation="slide"
            v-model="isGenresOpen">
            <template #trigger>
                <div
                    class="panel-heading"
                    role="button">
                    <strong>Genres</strong>
                </div>
            </template>
            <div v-for="valid_genre in valid_genres" class="panel-block">
                <b-checkbox v-model="genres" :native-value="valid_genre">{{ valid_genre }}</b-checkbox>
            </div>
        </b-collapse>

		<b-field label="Tempo" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="Song tempo in beats per minute">
					<b-checkbox v-model="enabled_filters" native-value="tempo">Tempo</b-checkbox>
                </b-tooltip>
            </template>
			<b-slider v-model="filters.tempo" :min="20" :max="300" :step="5" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('tempo')"></b-slider>
		</b-field>

        <b-field label="Key" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="Key of the recommendations">
					<b-checkbox v-model="enabled_filters" native-value="key">Key</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.key" :min="1" :max="12" :step="1" :custom-formatter="int_to_music_key" :tooltip="0" indicator size="is-large" ticks :disabled="!enabled_filters.includes('key')"></b-slider>
        </b-field>
		
        <b-field label="Popularity" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How popular the song is">
					<b-checkbox v-model="enabled_filters" native-value="popularity">Popularity</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.popularity" :min="0" :max="100" :step="1" :custom-formatter="(val) => val + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('popularity')"></b-slider>
        </b-field>
		
        <b-field label="Acousticness" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How acoustic the song sounds">
					<b-checkbox v-model="enabled_filters" native-value="acousticness">Acousticness</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.acousticness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('acousticness')"></b-slider>
        </b-field>
		
        <b-field label="Danceability" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How danceable the song is">
					<b-checkbox v-model="enabled_filters" native-value="danceability">Danceability</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.danceability" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('danceability')"></b-slider>
        </b-field>
		
        <b-field label="Energy" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How energetic the song is">
					<b-checkbox v-model="enabled_filters" native-value="energy">Energy</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.energy" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('energy')"></b-slider>
        </b-field>
		
        <b-field label="Instrumentalness" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How instrumental heavy the song is">
					<b-checkbox v-model="enabled_filters" native-value="instrumentalness">Instrumentalness</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.instrumentalness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('instrumentalness')"></b-slider>
        </b-field>
		
        <b-field label="Liveness" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How live the song sounds">
					<b-checkbox v-model="enabled_filters" native-value="liveness">Liveness</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.liveness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('liveness')"></b-slider>
        </b-field>
		
        <b-field label="Speechiness" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How vocal heavy the song is">
					<b-checkbox v-model="enabled_filters" native-value="speechiness">Speechiness</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.speechiness" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('speechiness')"></b-slider>
        </b-field>
		
        <b-field label="Valence" horizontal>
            <template #label>
                <b-tooltip type="is-dark" label="How positive and upbeat the song sounds">
					<b-checkbox v-model="enabled_filters" native-value="valence">Valence</b-checkbox>
                </b-tooltip>
            </template>
            <b-slider v-model="filters.valence" :min="0" :max="1" :step="0.01" :custom-formatter="(val) => (val * 100).toFixed(0) + '%'" :tooltip="0" indicator size="is-large" :disabled="!enabled_filters.includes('valence')"></b-slider>
        </b-field>
        
        <b-field label="Max Song Count" horizontal>
            <b-slider v-model="limit" :min="0" :max="50" :step="5" :tooltip="0" indicator size="is-large" ticks></b-slider>
        </b-field>
		<b-button v-on:click="generate" type="is-primary" position="is-centered" label="Generate Playlist" expanded/>
    </section>
</div>

[[block page_scripts]]
<script src="js/recommendations.js"></script>
<script src="buefy/components/field/index.js"></script>
<script src="buefy/components/slider/index.js"></script>
[[end]]